.title {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: fit-content;
    transition: 3s;
    text-align: center;
    font-size: 35px;
}
.title:hover {
    color: rgb(255, 255, 255);
}